@import url('https://mui.kernelsu.org/mmrl/insets.css');
@import url('https://mui.kernelsu.org/mmrl/colors.css');

:root {
    /* window inset */
    --top-inset: var(--window-inset-top, 0px);
    --bottom-inset: var(--window-inset-bottom, 0px);

    /* Background colors */
    --bg-primary: var(--background, #EDEDED);

    /* Text colors */
    --text-primary: var(--onSurface, #000);
}

@media (prefers-color-scheme: dark) {
    :root {
        /* Background colors */
        --bg-primary: var(--background, #151515);

        /* Text colors */
        --text-primary: var(--onSurface, #eee);
    }
}

body {
    color: var(--text-primary);
    background-color: var(--bg-primary);
    padding-top: var(--top-inset);
    padding-bottom: calc(var(--bottom-inset) + 50px);
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.output {
    font-family: monospace;
    font-size: 14px;
    white-space: nowarp;
    word-break: break-all;
}

.output p {
    background-color: var(--bg-primary);
    border-radius: 5px;
    width: fit-content;
    max-width: calc(100vw - 20px);
}

.ripple-element {
    position: relative;
    overflow: hidden;
}

.ripple {
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    opacity: 1;
    animation: ripple-animation ease-out forwards;
    pointer-events: none;
    background: rgba(0, 0, 0, 0.2);
}

.ripple.end {
    opacity: 0;
}

@keyframes ripple-animation {
    to {
        transform: scale(3);
    }
}
